@model PizzaBox.Client.Models.PizzaViewModel

<form action="/order/placeorder" method="post">
  
  @foreach (var crust in @Model.Crusts)
  {
    <input type="radio" name="crust" id="crust" value="@crust.Option" data-val="true" data-val-required="Needed">
    <label for="crust">@crust.Option</label>
    @Html.ValidationMessageFor(m => m.Crust);
  }

  <select>
    @foreach (var size in @Model.Sizes)
    {
      <option value="@size.Option">@size.Option</option>
    }
  </select>
  @Html.ValidationMessageFor(m => m.Size);

  @foreach (var topping in @Model.Toppings2)
  {
    <input type="checkbox" name="selectedtoppings2" id="selectedtoppings2" value="@topping.Text">
    <label for="selectedtoppings2">@topping.IsSelected</label>
    @Html.ValidationMessageFor(m => m.SelectedToppings2);
  }

  <input type="submit" value="place order">
  <button type="submit">place order</button>
</form>