@{
    ViewData["Title"] = "Customize";
}


@model PizzaBox.Client.Models.PizzaViewModel

<a href="pizza/get"> <-- Back to my Order </a>
@using(Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))
{
  @Html.AntiForgeryToken();
  
  <h5>Pick Your Size</h5>
  @Html.DropDownListFor(m => Model.SelectedSize, new SelectList(Model.Sizes), "-Size-")
  @Html.ValidationMessageFor(m => Model.SelectedSize);
  <br><br>

  <h5>Pick Your Crust</h5>
  @Html.DropDownListFor(m => @Model.SelectedCrust, new SelectList(Model.Crusts), "-Crust-")
  @Html.ValidationMessageFor(m => @Model.SelectedCrust);
  <br><br>
  
  <h5> Pick Your Toppings</H5>

  @foreach (var topping in @Model.Toppings2)
  {
    <input type="checkbox" name="selectedtoppings2" id="selectedtoppings2" value="@topping.Text">
    <label for="selectedtoppings2">@topping.Text</label>
  }
  @Html.ValidationMessageFor(m => m.SelectedToppings2);
  <br><br>

  <input value="Add to Order" type="submit">
}

@* <form action="placeorder" method="post">
  @Html.AntiForgeryToken()
  
  <h4> Pick Your Crust:</h4>
  <select name="crust" id="">
    @foreach (var crust in @Model.Crusts)
    {
      <option value="@crust.Option">@crust.Option</option>
    }
  </select>
  @Html.ValidationMessageFor(m => m.Crust);

<h4> Pick Your Size:</h4>
  <select name="size" id="">
    @foreach (var size in @Model.Sizes)
    {
      <option value="@size.Option">@size.Option</option>
    }
  </select>
  @Html.ValidationMessageFor(m => m.Size);

<h4> Pick Your Toppings:</h4>
  @foreach (var topping in @Model.Toppings2)
  {
    <input type="checkbox" name="selectedtoppings2" id="selectedtoppings2" value="@topping.Text">
    <label for="selectedtoppings2">@topping.Text</label>
    @Html.ValidationMessageFor(m => m.SelectedToppings2);
  }

  <br>
  <br>
  <button type="submit">Add to Order</button>
</form> *@

